/* src/components/InputBox.css */
.input-box {
    display: flex;
    border-top: 1px solid #99aab5;
    background-color: #23272a;
  }
  
  .input-box input {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #23272a;
    color: #fff;
  }
  
  .input-box button {
    padding: 10px;
    border: none;
    background-color: #7289da;
    color: #fff;
    cursor: pointer;
  }
  